select, input{
    padding: 12px;
    margin-right: 10px;
    font-weight: bold;
    width: 20%;
    font-size: 16px;
    border-radius: 4px;
}

button{
    padding: 13px;
    width: 25%;
    background-color: #c83259;  
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: 0px;
    border-radius: 4px;

}

